<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/style.css')  }}">
    </head>
    <body>
        <header>
            <div class="container entete">
                <div class="logo">
                    <a href="{{ path('home') }}"><img src="{{ asset ('img/logo2.png') }}" alt="logo"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ path('home') }}">Lien1</a></li>
                        <li><a href="{{ path('articles') }}">Lien 2</a></li>
                        <li><a href="{{ path('contact') }}">Lien3</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block page %}
        {% endblock %}
        <footer>
            <div class="pied">
                <h2>
                    lorem
                </h2>
                <div class="logo">
                    <img src="{{ asset ('img/logo2.png') }}" alt="logo">
                </div>
                <h2>
                    lorem
                </h2>
            </div>
        </footer>

    </body>
</html>